/*MAIN PAGE*/
:root{
    --main-color: #beadfa;
}
body{
    height: 100%;
    background-color: white;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
header{
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 5;
}
img{
    width: 100%;
}
.ttl-font{
    font-size: 5em;
    font-weight: 100;
    font-variant-caps: all-small-caps;
    text-align: center;
    color: #ffffff;
}
.nav{
    font-size: 0.8em;
    display: flex;
    width: 20%;
    position: absolute;
    right: 0;
    height: 50px;
    justify-content: center;
}
.nav-item{
    margin: auto;
    color: black;
}
.nav-item:link{
    text-decoration: none;
    color: black;
}
/*MAIN*/
.intro{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: flex-end;
}
.intro .text, .art{
    width: 50%;
}
.para{
    margin: auto;
    width: 500px;
    font-weight: 200;
}
.text{
    width: 500px;
    background-color: var(--main-color);
    color: white;
}
.parts p{
    max-width: 40rem;
    font-weight: 200;
}
.method{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4em 0em;
}
.method h2, h3, p{
    text-align: justify;
}

/*****************PAGE 1*****************/
.page1-main, .page2-main{
    background-image: linear-gradient(45deg, purple, teal);
    height: 100%;
}
td{
    margin: auto;
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: #ffffff;
}
tr{
    border-collapse: collapse;
}
ul{
    list-style: none;
    padding: 0px;
}
table{
    border-radius: 15px;
    background-color: #302e30;
    padding: 10px;
    padding-right: 0;
    font-size: 0.8em;
    box-shadow: 1px 2px 99px -42px;
}
table a:link{
    color: white;
    text-decoration: none;
}
table a:visited{
    color: white;
}
.filter{
    display: flex;
}
.search-bar{
    width: 500px;
    height: 40px;
    border-radius: 50px;
    /* background-color: white; */
    border: 1.5px solid rgb(161, 161, 161);
    position: relative;
    display: flex;
}
.options-dropdown{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(161, 161, 161);
    position: relative;
}
.filter-item{
    margin: 0px auto;
}
.search-bar input{
    border: none;
    margin: auto auto;
    height: 80%;
    width: 90%;
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    background-color: transparent;
}
.search-bar input:focus{
    outline: none;
}
.search-icon{
    width: 25px;
    height: 25px;
    background-color: #302e30;
    position: relative;
    margin: auto 0;
    right: 5px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    font-size:x-small;
    text-align: center;
    color: white;
}
.search-bar .search-icon{
    border-radius: 15px;
    width: 40px;
    /* margin: auto 0px; */
    left: 90%;
}
.search-icon p{
    z-index: 5;
    position: absolute;
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 100%;
    top: calc(100%/4);
}
.search-icon:hover{
    cursor: pointer;
}
.options-dropdown select{
    border: none;
    width: 80%;
    height: 80%;
    margin: auto auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
}
.options-dropdown select:focus{
    outline: none;
}
.sort{
    position: absolute;
    right: -30px;
}
/****DATA TABLE****/
.data{
    width: 100%;
    margin: auto auto;
    margin-top: 25px;
}
.data table{
    width: 80%;
    margin: 0px auto;
}
.page-title{
    text-align: center;
}
.row0{
    /* background-color: var(--main-color); */
    border-radius: 15px;
    font-weight: 500;
}
.row0 .col{background-color: #302e30;color: white;}
.sites-title .ttl-font{margin: inherit;margin-bottom: revert;color: white;}
.col1, .col2{background-color: #302e30;color: white;}

/*************PAGE 2***************/


.tables{
    display: none;
    min-width: 600px;
    width: 50%;
    overflow-x: scroll;
    font-size: 0.8em;
    background-color: #302e30;
    scrollbar-width: thin;
    margin: 5em auto;
    border-radius: 15px;
    box-shadow: 1px 2px 99px -42px;
}
.choose-tbl{
    display: flex;
    margin: auto auto;
    min-width: fit-content;
    width: 700px;
}
.tbl-option{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #302e30;
    margin: auto auto;
    text-align: center;
    position: relative;
}
.tbl-option:hover{
    background-color: rgb(202, 158, 247);
    transition-duration: 500ms;
    cursor: pointer;
}
.tbl-option p{
    text-align: center;
    color: white;
    top: calc(100%/4);
}
.current{
    display: flex;
}
.tbl-header{background-color: #302e30;color: white;}
.table{
    margin: auto;
    font-weight: 300;
}
.stats{
    display: flex;
    width: 100%;
}
.tbl-col{
    background-color: white;
    min-width: 100px;
    padding: auto;
    text-align: center;
}
.tbl-item{
    padding: 5px;
}
.table1 .tbl-item:nth-child(2){
    background-color: #302e30;
    color: #ffffff;
}
.p-f{
    display: grid;
    grid-column: 1/2;
}
.p-f div{
    min-height: fit-content;
}
.tripleA{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    text-align: center;
    justify-content: center;
}
.a-stat{
    text-align: center;
}
.known, .likely, .potential{
    width: 210px;
}
.tot-val{
    width: 300px;
    padding: auto;
}
.table6 .tbl-header{
    height: calc(1em + 20px);
}
.wave-content .tbl-header{
    min-height: 1em;
    font-size: 12px;
    height:fit-content;
}
.page-ttl .ttl-font{
    margin: 0px;
    margin-bottom: revert;
}
.tbl-ttl{
    font-weight: 100;
    color: white;
    font-variant-caps: all-petite-caps;
}